body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;

}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;

}
.loader-wrapper {
  visibility: visible;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eeebdd;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fb3640;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fb3640;
  animation: loader-inner 2s infinite ease-in;
}
#loader_logo{
  width: 465px;
  height: 300px;
  padding-bottom: 100px;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
#hideMe {

           /* Firefox */
           -webkit-animation: cssAnimation 5s ease-in 5s forwards;
           /* Safari and Chrome */
           /* Opera */
           animation: cssAnimation 0s ease-in 5s forwards;
           -webkit-animation-fill-mode: forwards;
           animation-fill-mode: forwards;
  }
@keyframes cssAnimation {
    to {
          width:0;
          height:0;
          overflow:hidden;
        }
}
@-webkit-keyframes cssAnimation {
    to {
          width:0;
          height:0;
          visibility:hidden;
        }
}



.main {
       background-color: #FFFFFF;
       width: 400px;
       height: 400px;
       margin: 7em auto;
       border-radius: 1.5em;
       box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
   }

   .sign {
       padding-top: 40px;
       color: #8C55AA;
       font-family: 'Ubuntu', sans-serif;
       font-weight: bold;
       font-size: 23px;
   }

   .un {
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.15);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   margin-bottom: 50px;
   margin-left: 46px;
   text-align: center;
   margin-bottom: 27px;
   font-family: 'Ubuntu', sans-serif;
   }

   form.form1 {
       padding-top: 40px;
   }

   .pass {
           width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.15);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   margin-bottom: 50px;
   margin-left: 46px;
   text-align: center;
   margin-bottom: 27px;
   font-family: 'Ubuntu', sans-serif;
   }


   .un:focus, .pass:focus {
       border: 2px solid rgba(0, 0, 0, 0.18) !important;

   }

   .submit {
     cursor: pointer;
       border-radius: 5em;
       color: #fff;
       background: linear-gradient(to right, #9C27B0, #E040FB);
       border: 0;
       padding-left: 40px;
       padding-right: 40px;
       padding-bottom: 10px;
       padding-top: 10px;
       font-family: 'Ubuntu', sans-serif;
       margin-left: 35%;
       font-size: 13px;
       box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
   }

   .forgot {
       text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
       color: #E1BEE7;
       padding-top: 15px;
   }

   a {
       text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
       color: #E1BEE7;
       text-decoration: none
   }

   @media (max-width: 600px) {
       .main {
           border-radius: 0px;
       }
